.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.slider {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.bg_image_all {
  animation: slider 32s infinite alternate;
}

@keyframes slider {
  0% {
    background-image: url("..//../../public/images/img-5.jpg");
  }
  33% {
    background-image: url("..//../../public/images/img-2.jpg");
  }
  66% {
    background-image: url("..//../../public/images/img-3.jpg");
  }
  100% {
    background-image: url("..//../../public/images/img-4.jpg");
  }
}

.bg_image_all {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.inner-container img {
  width: 300px;
  height: auto;
}
